
* {
    box-sizing: border-box;
}
.a {
    width: 100%;
    border: 2px solid black;
    font-size: 30px;
    text-align: center;
}
.b {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 30px;
    color: red;
}
.c {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.c1 {
    width: 25%;
    text-align: center;
}
.c2{
    text-align: center;
    width: 25%;
}
.c3{
    text-align: center;
    width: 25%;
}
.d {
    font-size: 30px;
    margin-top: 45px;
    margin-bottom: 40px;
}
.i{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.i1 {
    border: 1px solid black;
    border-radius: 50px;
    height: 150px;
    padding: 20px;
}
.i2 {
    border: 1px solid black;
    border-radius: 50px;
    height: 150px;
    padding: 20px;
}
.i3{
    border: 1px solid black;
    border-radius: 50px;
    height: 150px;
    padding: 20px;
}
.i4{
    border: 1px solid black;
    border-radius: 50px;
    height: 150px;
    padding: 20px;
}
.f{
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
}